
  
@font-face {
  font-family: "Circular";
  src: url(/assets/fonts/lineto-circular-pro-book.ttf);
}

* {
  font-family: "Circular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: rgb(0,14,36);
  background: linear-gradient(90deg, rgba(0,14,36,1) 0%, rgb(8, 24, 50) 33%, rgba(6,12,23,1) 100%, rgb(37, 96, 150) 100%);
  background-color: rgb(24, 23, 23);
  margin: 0;
  padding: 0;
  
}





ul.nav.justify-content-center{
  position: center;
 
  padding-top: 2rem;
  margin-bottom: 2rem;

}
      
a.nav-link { 
  color: white;
  font-size: 11px !important;
}

.navbar-collapse {

  align-items: center !important;
}



a.nav-link.active {
  background-color: transparent;
  border-bottom: 2px solid #3a9d5e;
}


.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
}

.topnav a {
  float: left;
  display: block;
  color:#060c13;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}

.card {
  
  background-color: transparent;
  border:transparent
  
}

h5.card-title {
  text-align: center;
  color: aliceblue;
  font-size: 11px;


}

h2{
  color: white;
  padding-top: 3rem;
  margin-bottom: 2rem;
}
.my-2 {
  font-size: 60px;
}

.fa-ellipsis-h {
  color: white;
}

h1 {
  color: white;
}

p {
  color: white;
}

.row.rest-container {
  height: 90vh;
}

.footer-container {
  height: 10vh;
}


a {
  color: white;
}

#griglia {
  margin: 5px;
}

button.btn {
  width: 8rem;
}

html {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all ease 0.3s;
}

a:hover {
  text-decoration: none;
  color: white;
}

.menu--item--logos:hover {
  opacity: 0.8;
}

.navbar--link--toggle {
  display: none;
}

.side-bar {
  width: 200px;
  height: 100%;
  background-color: #060b13;
  padding: 15px 15px 15px 15px;
  display: flex;
  position:fixed
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.menu {
  display: initial;
}

.menu--item,
.lower--nav--item {
  color: grey;
  font-size: 1.5rem;
  display: flex;
  position: relative;
  /* Needed for the .active state to add the background */
}

.menu--item {
  margin-top: 5px;
}

.menu--item--text {
  font-size: 0.88rem;
  font-weight: 700;
  margin-left: 15px;
}

.album-container {
  height: 87vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.album-container::-webkit-scrollbar {
  display: none;
}

.footer-container {
  position: sticky;
  bottom: 0;
  height: 10vh;
}


.signupButton {
  
  margin-top: 27rem;
  margin-left: -5rem;
	background-color:#fff;
  border-radius:17px;
  cursor:pointer;
  display:inline-block;
	color:rgb(82, 80, 80);
	font-family:Arial;
  font-size:10px;
  font-weight:bold;
	padding:9px 69px;
  text-decoration:none;
  position: relative;
  
  }

.loginButton {

    margin-top: 30rem;
    margin-left: -11rem;
    background-color:#363636;
    border-radius:17px;
    border:2px solid #e9ebe8;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    font-weight:bold;
    padding:8px 70px;
    text-decoration:none;
    position: relative;
   
  }




footer {
  width: 100%;
  height: 10vh;
  border-top: 1px solid #000;
  background-color: rgba(24, 24, 24, 1);
  z-index: 1;
  position: fixed;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.footer--left-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer--left-col--song {
  display: flex;
}

.footer--left-col--song--img {
  margin-right: 14px;
  display: flex;
  position: relative;
}

.footer--left-col--song--img img {
  height: 56px;
  width: 56px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.footer--left-col--song--img--pull-up {
  position: absolute;
  top: 4px;
  right: 4px;
  background: #000;
  width: 24px;
  height: 24px;
  opacity: 0.7;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #b3b3b3;
  transition: all ease 0.3s;
}

.footer--left-col--song--img:hover .footer--left-col--song--img--pull-up {
  display: flex;
}

.footer--left-col--song--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

.footer--left-col--song--details--title {
  font-size: 0.9rem;
  color: #b3b3b3;
  transition: all ease 0.3s;
}

.footer--left-col--song--details--artist {
  font-size: 0.8rem;
  color: #b3b3b3;
  transition: all ease 0.3s;
}

.footer--left-col--song--details--title:hover,
.footer--left-col--song--details--artist:hover {
  color: #fff;
}

.footer--left-col--actions--favorite {
  background: transparent;
  color: #b3b3b3;
  outline: 0;
  border: 0;
}

.footer--left-col--actions--cast {
  background: transparent;
  color: #b3b3b3;
  outline: 0;
  border: 0;
  transition: all ease 0.3s;
}

.footer--left-col--actions--favorite:hover,
.footer--left-col--actions--cast:hover {
  color: #fff;
  cursor: pointer;
}

.footer--middle-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.footer--middle-col--controls {
  background: transparent;
  outline: 0;
  color: #b3b3b3;
  border: 0;
  margin-right: 10px;
  font-size: 1.2rem;
  transition: all ease 0.3s;
}

svg:hover path {
  fill: white;
}

svg path {
  transition: all ease 0.3s;
}

.footer-middle-col--range--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-middle-col--range--text {
  font-size: 0.7rem;
}

.footer--middle-col--range--input {
  width: 250px;
  -webkit-appearance: none;
  background-color: #b3b3b3;
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 4px;
  transition: all ease 0.3s;
}

.footer--middle-col--range--input::-webkit-slider-runnable-track {
  height: 4px;
  color: blue;
}

.footer--middle-col--range--input::-webkit-slider-thumb {
  width: 4px;
  -webkit-appearance: none;
  height: 4px;
  cursor: pointer;
  background: black;
}

.footer--middle-col--range--input:hover {
  background-color: #fff;
}

.footer--middle-col--range--input:focus {
  outline: none;
}

.footer--right-col {
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.footer--right-col--controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer--right-col-controls--icon {
  background: transparent;
  outline: 0;
  border: 0;
  color: #b3b3b3;
  margin-right: 5px;
  transition: all ease 0.3s;
}

.footer--right-col-controls--icon:hover {
  color: #fff;
}

.footer--right-col--range--input {
  overflow: hidden;
  width: 40px;
  -webkit-appearance: none;
  background-color: #b3b3b3;
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 4px;
  transition: all ease 0.3s;
}

.footer--right-col--range--input::-webkit-slider-runnable-track {
  height: 4px;
  color: blue;
}

.footer--right-col--range--input::-webkit-slider-thumb {
  width: 4px;
  -webkit-appearance: none;
  height: 4px;
  cursor: pointer;
  background: black;
}

.footer--right-col--range--input:hover {
  background-color: #fff;
}

.footer--right-col--range--input:focus {
  outline: none;
}

.navbar--link--toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .jumbotron {
    margin-top: 4rem;
  }
  .side-bar {
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin-top: -5px;
    margin-right: 20px;
  }

  .lower--nav {
    display: none;
  }

  .upper-nav {
    display: flex;
  }

  .menu {
    display: fixed;
    margin-top: 5px;
    margin-bottom: -3px;
    margin-left: 15px;
  }

  .menu--item {
    margin-right: 12px;
  }

  .menu--item--text {
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 5px;
  }

  
  

  footer {
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;
    display: block;
  }

  .footer--left-col,
  .footer--right-col {
    margin: 10px auto;
  }

  .footer-middle-col--range--wrapper {
    display: none;
  }

  .footer--right-col {
    display: none;
  }
}

@media (max-width: 870px) {

  .signupButton {
  
    margin-top: 2rem;
    margin-left: 1rem;
    font-size:7px;
    font-weight:bold;
    padding:5px 40px;
    text-decoration:none;
    position: relative;
    
    }
  
  .loginButton {
  
      margin-top: 2rem;
      margin-left: -5.8rem;
      background-color:#363636;
      border-radius:17px;
      border:1px solid #e9ebe8;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:8px;
      font-weight:bold;
      padding:5px 32px;
      text-decoration:none;
      position: relative;
     
    }
  }

  @media only screen and (max-width: 1303px) {

    .signupButton {
    
      margin-top: 32rem;
      margin-left: -3rem;
      font-size:8px;
      font-weight:bold;
      padding:6px 30px;
      
      }
    
    .loginButton {
    
        margin-top: 34rem;
        margin-left: -5.8rem;
        font-size:8px;
        font-weight:bold;
        padding:5px 32px;
      
      }
    }

@media only screen and (max-width: 767px) {
  
  h2{
    font-size: 20px;
    color: white;
    padding-top: 3rem;
    margin-bottom: 2rem;
  }

  .side-bar {
    position: relative;
  }

  .album-container {
    margin-bottom: 6.5rem;
  }

  

  .navbar--link--toggle {
    align-self: flex-end;
    display: initial;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 30px;
  }

  .menu {
    margin-left: 15px;
    display: none;
  }

  .lower--nav {
    display: none;
  }

  .navbar--toggleShow {
    display: flex;
    flex-direction: column;
  }

  .footer-middle-col--range--wrapper {
    display: none;
  }

  .footer--right-col {
    display: none;
  }
}

@media only screen and (max-width: 301px) {
  .side-bar {
    min-width: 280px;
  }

  h2{
    font-size: 14px;
    color: white;
    padding-top: 3rem;
    margin-bottom: 2rem;
  }

  footer {
    min-width: 280px;
    position: fixed;
    bottom: 0;
  }

  .footer--middle-col--controls {
    margin-right: 5px;
  }

  .footer--middle-col--range--input {
    width: 80%;
    -webkit-appearance: none;
    background-color: #b3b3b3;
    border-radius: 2px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .footer--right-col,
  .footer--left-col {
    display: none;
  }

  .navbar--toggleShow {
    display: block;
  }

  .footer-middle-col--range--wrapper {
    display: none;
  }

  .footer--right-col {
    display: none;
  }
}

.active {
  border-bottom: 1px solid white;
  color: #fff;
}

.navbar--link--toggle--rotate {
  transform: rotate(-180deg);
  transition: all ease 0.5s;
}

